<%= turbo_frame_tag "cart" do %>
  <h1>Cart</h1>
  <% if @cart.orderables.count > 0 %>
    <%= render "cart/orderables" %>
    <p>Total: <%= @cart.total %></p>
  <% else %>
    <p>Your cart is empty</p>
  <% end %>
<% end %>
